<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Adonis x React
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=instrument-sans:400,500,600" rel="stylesheet" />

    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @vite(['resources/css/app.css', 'resources/js/app/app.tsx', `resources/js/pages/${page.component}.tsx`])
  </head>

  <body class="font-sans relative isolate">
    @inertia()
  </body>

</html>
