{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva", "tw"],
  "tailwindStylesheet": "resources/css/app.css",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "**/*.{yml,yaml}",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "**/*.{json,jsonc}",
      "options": {
        "tabWidth": 2,
        "trailingComma": "none"
      }
    },
    {
      "files": "**/*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": "**/edge/**/*.edge",
      "options": {
        "parser": "html"
      }
    }
  ]
}
